* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #222;
    color: #fff;
}

.header-esquerda {
    flex: 1;
    display: flex;
    align-items: center;
}

/* Centralização absoluta da nav */
.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

/* Links */
nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

nav a:hover {
    color: #90b6fc;
}

/* Usuário + tooltip */
.usuario {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-usuario {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    white-space: nowrap;
    font-size: 14px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.usuario:hover .tooltip-usuario {
    display: block;
}

.icone-usuario {
    border-radius: 50%;
    border: 2px solid white;
    padding: 2px;
}



/* Footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.final {
	color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
	transition: .5s;
	color: #FA8072;
}

.rodape {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}