/* Layout da main */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

/* Layout dos blocos */
.cadastrar, .listar {
  max-width: 600px;
  margin: 30px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

/* Estilização de formulário e inputs */
.cadastrar form label,
#update-form-Turma label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

.cadastrar form input,
.cadastrar form select,
#update-form-Turma input,
#update-form-Turma select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Botões */
button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: #060857;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #0a0c8b;
}

/* Card de edição de turma */
#edit-popup-Turma {
  display: none;
  margin: 30px;
  max-width: 600px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 10;
}

/* Listagem de turmas */
#turmas-lista div {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #e9ecef;
  border-radius: 8px;
}